html {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(#000000, #202020);
  background: -moz-linear-gradient(#000000, #202020);
  background: -ms-linear-gradient(#000000, #202020);
  background: -o-linear-gradient(#000000, #202020);
  background: linear-gradient(#000000, #202020);
  scroll-behavior: smooth;
  margin: none;
}

.header {
  height: 4rem;
  display: flex;
  width: 100%;
}

.navBar {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: auto;
}

.imageWrapper {
  height: 100%;
}

.logo {
  height: 4rem;
  width: 3rem;
}

.contact {
  color: white;
  font-family: monospace;
}

.contactLink {
  color: white;
}

.contactLink:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  width: 100vw;
  height: auto;
}
